<!DOCTYPE html>
<html>

<style>
  span {
    display: inline-block;
    width: 55px;
  }
</style>

<head>
  <meta charset="UTF-8">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
  <h1>Body Mass Index</h1>
  <div id="app">
    <span>Waga: </span>
    <input v-model="weight" type="number" onkeyup="this.value=this.value.replace(/[^\d]/,'')"> kg<br>
    <span>Wzrost: </span>
    <input v-model="height" type="number" onkeyup="this.value=this.value.replace(/[^\d]/,'')"> cm
    <p>Wskaźnik BMI: {{ calculateBMI }}</p>
  </div>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        weight: 0,
        height: 0
      },
      computed: {
        calculateBMI: function () {
          if (this.weight !== 0 && this.height !== 0) {
            return (this.weight / (Math.pow(this.height / 100, 2))).toFixed(2)
          }
        }
      }
    });
  </script>

</body>

</html>