<!DOCTYPE html>
<html>

<style>
  p,
  h2 {
    margin: 2px;
  }
</style>

<head>
  <meta charset="UTF-8">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
  <h1>Employees</h1>
  <div id="app">
    <div v-for="employee in employees">
      <h2>EMPLOYEE RECORD</h2>
      <p>Name 1: {{employee.name1}}</p>
      <p v-if="employee.name2">Name 2: {{employee.name2}}</p>
      <p v-else></p>
      <p>Surname: {{employee.surname}}</p>
      <p v-if="!employee.foreigner">Pesel: {{employee.pesel}}</p>
      <p v-else>Nationality: {{employee.nationality}}</p>
      <p>Address: {{employee.address}}</p>
    </div>
  </div>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        employees: [{
          name1: 'Adam',
          name2: 'Jan',
          surname: 'Majewski',
          foreigner: false,
          nationality: 'Polish',
          pesel: '92021708229',
          address: 'ul. Szeroka 3, Kraków',
        }, {
          name1: 'John',
          surname: 'Brown',
          foreigner: true,
          nationality: 'American',
          address: 'Holland Drive 4, Chicago'
        }]
      }
    });
  </script>

</body>

</html>